body{
    background-color: lightblue;
}
div{
    font-size: 20px;
}
.main-title{
    text-decoration: underline;
    color: #ffffff;
}
.styleParagraph2{
    color: navy;
    font-weight: bold;
}
.styleParagraph3{
    text-transform: uppercase;
    text-align: justify;
}
.styleParagraph4{
    font-size: 12px;
}
.fontText{
    font-style: italic;
}